.green {
    border: 2px solid;
    border-color: green;
}

.blue {
    border: 2px solid;
        border-color: blue;
}

.red {
    border: 2px solid;
    border-color: red;
}

.orange {
    border: 2px solid;
    border-color: orange;
}